# Loading CSV

In [31]:
import pandas as pd
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html
df = pd.read_csv('../../sources/914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv')
df.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,...,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,...,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,...,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN

In [17]:
df.columns

Index(['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'PAYLOAD', 'SEATS',
       'PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'RAMP_TO_RAMP', 'AIR_TIME',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'UNIQUE_CARRIER_ENTITY', 'REGION', 'CARRIER', 'CARRIER_NAME',
       'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_COUNTRY', 'DEST_COUNTRY_NAME',
       'DEST_WAC', 'AIRCRAFT_GROUP', 'AIRCRAFT_TYPE', 'AIRCRAFT_CONFIG',
       'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS', 'DATA_SOURCE',
       'Unnamed: 50'],
      dtype='object')

In [19]:
df[df['PASSENGERS'] > 1000]

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
14,0.0,9.0,562962.0,2548.0,2154.0,0.0,0.0,2188.0,0.0,0.0,...,6,696,1,2015,1,1,5,F,IF,NaN
15,0.0,18.0,1237995.0,5159.0,4905.0,0.0,0.0,1873.0,0.0,0.0,...,6,696,1,2015,1,1,4,F,IF,NaN
16,0.0,9.0,565173.0,2595.0,2156.0,0.0,0.0,2188.0,0.0,0.0,...,6,696,1,2015,1,1,5,F,IF,NaN
17,0.0,18.0,1237436.0,5109.0,4855.0,0.0,0.0,1873.0,0.0,0.0,...,6,696,1,2015,1,1,4,F,IF,NaN
19,0.0,9.0,910800.0,2835.0,1666.0,2882.0,0.0,4879.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
21,0.0,9.0,910800.0,2835.0,1758.0,39954.0,0.0,4879.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
22,0.0,23.0,2345933.0,6793.0,4946.0,454689.0,0.0,3749.0,0.0,0.0,...,6,696,1,2015,1,1,8,F,IF,NaN
23,0.0,29.0,2557427.0,8525.0,7094.0,621786.0,0.0,4733.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
24,0.0,12.0,1049765.0,3569.0,2435.0,224246.0,0.0,4757.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
25,0.0,23.0,2401058.0,6793.0,5503.0,647284.0,0.0,3749.0,0.0,0.0,...,6,696,1,2015,1,1,8,F,IF,NaN
26,0.0,21.0,2199395.0,6180.0,4683.0,573408.0,0.0,3968.0,0.0,0.0,...,6,696,1,2015,1,1,8,F,IF,NaN
27,0.0,29.0,3020211.0,8530.0,7791.0,455231.0,0.0,4733.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
28,0.0,22.0,2294431.0,6480.0,5596.0,507333.0,0.0,4974.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
29,0.0,14.0,1466137.0,4130.0,2468.0,249731.0,0.0,4413.0,0.0,0.0,...,6,696,1,2015,1,1,9,F,IF,NaN
30,0.0,12.0,1250181.0,3569.0,2770.0,102414.0,0.0,4757.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
31,0.0,21.0,2146910.0,6180.0,4639.0,430676.0,0.0,3968.0,0.0,0.0,...,6,696,1,2015,1,1,8,F,IF,NaN
32,0.0,22.0,1924391.0,6485.0,5006.0,286066.0,0.0,4974.0,0.0,0.0,...,6,696,1,2015,1,1,10,F,IF,NaN
33,0.0,14.0,1435498.0,4130.0,2791.0,310264.0,0.0,4413.0,0.0,0.0,...,6,696,1,2015,1,1,9,F,IF,NaN
37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,0.0,...,6,627,1,2015,1,1,9,F,IF,NaN
40,0.0,27.0,2251555.0,7074.0,5876.0,435222.0,0.0,3449.0,0.0,0.0,...,6,627,1,2015,1,1,7,F,IF,NaN
42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,0.0,...,6,627,1,2015,1,1,9,F,IF,NaN
43,0.0,28.0,2333124.0,7321.0,6217.0,501391.0,0.0,3449.0,0.0,0.0,...,6,627,1,2015,1,1,7,F,IF,NaN
47,0.0,20.0,1677500.0,5500.0,4838.0,365198.0,0.0,3962.0,0.0,0.0,...,8,873,1,2015,1,1,8,F,IF,NaN
48,0.0,5.0,407847.0,1235.0,1089.0,95256.0,0.0,3861.0,0.0,0.0,...,6,627,1,2015,1,1,8,F,IF,NaN
49,0.0,25.0,2820015.0,7575.0,6324.0,831635.0,0.0,3861.0,0.0,0.0,...,6,637,1,2015,1,1,8,F,IF,NaN
50,0.0,21.0,1718024.0,5220.0,3664.0,488906.0,0.0,5026.0,0.0,0.0,...,6,627,1,2015,1,1,11,F,IF,NaN
51,0.0,7.0,786001.0,2103.0,1971.0,285681.0,0.0,5026.0,0.0,0.0,...,6,637,1,2015,1,1,11,F,IF,NaN
53,0.0,42.0,3538920.0,11100.0,8687.0,868371.0,0.0,3635.0,0.0,0.0,...,6,627,1,2015,1,1,8,F,IF,NaN
54,0.0,9.0,1012403.0,2713.0,2067.0,311810.0,0.0,3635.0,0.0,0.0,...,6,637,1,2015,1,1,8,F,IF,NaN
55,0.0,33.0,2281673.0,6864.0,6170.0,419509.0,0.0,3635.0,0.0,0.0,...,6,696,1,2015,1,1,8,F,IF,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146907,521.0,521.0,625200.0,2863.0,1797.0,1530.0,0.0,11.0,6537.0,4974.0,...,0,79,1,2015,1,1,1,F,DU,NaN
146908,522.0,522.0,16314400.0,63611.0,51439.0,98011.0,0.0,102.0,21061.0,11784.0,...,6,608,1,2015,1,3,1,F,DU,NaN
146909,525.0,518.0,932400.0,4662.0,3167.0,0.0,0.0,96.0,24864.0,20202.0,...,1,125,1,2015,1,3,1,F,IU,NaN
146910,525.0,524.0,16386600.0,63537.0,44702.0,92078.0,0.0,102.0,21463.0,11860.0,...,6,608,1,2015,1,1,1,F,DU,NaN
146911,526.0,525.0,16411100.0,63590.0,49097.0,30821.0,0.0,102.0,18853.0,11227.0,...,6,608,1,2015,1,1,1,F,DU,NaN
146912,531.0,531.0,637200.0,2976.0,1863.0,157.0,0.0,11.0,6669.0,5076.0,...,0,79,1,2015,1,2,1,F,DU,NaN
146913,535.0,534.0,16690700.0,64497.0,53062.0,57292.0,0.0,163.0,25798.0,16485.0,...,6,608,1,2015,1,2,1,F,DU,NaN
146914,538.0,535.0,16727800.0,64735.0,52773.0,74516.0,0.0,163.0,24712.0,15107.0,...,6,608,1,2015,1,2,1,F,DU,NaN
146915,540.0,538.0,16820600.0,66329.0,52007.0,73443.0,0.0,163.0,24487.0,15770.0,...,6,608,1,2015,2,4,1,F,DU,NaN
146916,540.0,540.0,16886100.0,66610.0,49227.0,82500.0,0.0,163.0,24569.0,15292.0,...,6,608,1,2015,2,4,1,F,DU,NaN
146917,563.0,563.0,17612200.0,68584.0,58241.0,82918.0,0.0,163.0,25896.0,16034.0,...,6,608,1,2015,1,3,1,F,DU,NaN
146918,565.0,565.0,17672100.0,68765.0,57892.0,92282.0,0.0,163.0,26134.0,16973.0,...,6,608,1,2015,1,3,1,F,DU,NaN
146919,581.0,580.0,18142300.0,70285.0,51837.0,82410.0,0.0,163.0,26805.0,16405.0,...,6,608,1,2015,1,1,1,F,DU,NaN
146920,586.0,584.0,18261300.0,70702.0,56704.0,63820.0,0.0,163.0,27433.0,17747.0,...,6,608,1,2015,1,1,1,F,DU,NaN
146921,613.0,603.0,10733400.0,45828.0,37708.0,19396.0,0.0,129.0,28945.0,23735.0,...,4,482,1,2015,1,2,1,F,DU,NaN
146922,613.0,605.0,10769000.0,45980.0,37519.0,11802.0,0.0,129.0,26704.0,21896.0,...,4,482,1,2015,1,2,1,F,DU,NaN
146924,668.0,661.0,11765800.0,50236.0,38845.0,15019.0,0.0,129.0,32547.0,26706.0,...,4,482,1,2015,1,1,1,F,DU,NaN
146925,674.0,664.0,11819200.0,50464.0,39168.0,15244.0,0.0,129.0,30158.0,24722.0,...,4,482,1,2015,1,1,1,F,DU,NaN
146926,732.0,731.0,22832200.0,89768.0,67710.0,149891.0,0.0,100.0,29449.0,15869.0,...,6,608,1,2015,2,4,1,F,DU,NaN
146927,732.0,728.0,22741700.0,89409.0,68857.0,89972.0,0.0,100.0,27076.0,16569.0,...,6,608,1,2015,2,4,1,F,DU,NaN
146928,741.0,740.0,23118800.0,89280.0,68943.0,78235.0,0.0,100.0,30119.0,18038.0,...,6,608,1,2015,1,2,1,F,DU,NaN
146929,742.0,741.0,23148900.0,89348.0,68441.0,130509.0,0.0,100.0,29662.0,16174.0,...,6,608,1,2015,1,2,1,F,DU,NaN
146930,743.0,726.0,12922800.0,55176.0,43652.0,19569.0,0.0,129.0,34122.0,27982.0,...,4,482,1,2015,2,4,1,F,DU,NaN
146931,745.0,732.0,13029600.0,55632.0,43894.0,13763.0,0.0,129.0,32712.0,26813.0,...,4,482,1,2015,2,4,1,F,DU,NaN
146932,752.0,727.0,12940600.0,55252.0,44565.0,17728.0,0.0,129.0,32687.0,26808.0,...,4,482,1,2015,1,3,1,F,DU,NaN
146933,753.0,729.0,12976200.0,55404.0,44718.0,19043.0,0.0,129.0,34735.0,28484.0,...,4,482,1,2015,1,3,1,F,DU,NaN
146934,771.0,766.0,23919200.0,92783.0,73599.0,81189.0,0.0,100.0,29043.0,17873.0,...,6,608,1,2015,1,3,1,F,DU,NaN
146935,772.0,772.0,24101700.0,93441.0,72852.0,142730.0,0.0,100.0,31216.0,16561.0,...,6,608,1,2015,1,3,1,F,DU,NaN
146936,820.0,815.0,25438100.0,98355.0,70117.0,143209.0,0.0,100.0,32403.0,17414.0,...,6,608,1,2015,1,1,1,F,DU,NaN
146937,822.0,814.0,25423500.0,98382.0,75216.0,82020.0,0.0,100.0,32035.0,19536.0,...,6,608,1,2015,1,1,1,F,DU,NaN

In [20]:
df[df['PASSENGERS'] > 1000][['ORIGIN_CITY_NAME']]

           ORIGIN_CITY_NAME
14         Guangzhou, China
15          Shanghai, China
16               Saipan, TT
17               Saipan, TT
19                Tampa, FL
21      Zurich, Switzerland
22      Dusseldorf, Germany
23      Dusseldorf, Germany
24      Dusseldorf, Germany
25             New York, NY
26             New York, NY
27                Miami, FL
28                Miami, FL
29              Chicago, IL
30           Fort Myers, FL
31          Berlin, Germany
32          Berlin, Germany
33          Berlin, Germany
37              Atlanta, GA
40               Boston, MA
42            Paris, France
43            Paris, France
47            Paris, France
48            Paris, France
49            Paris, France
50            Paris, France
51            Paris, France
53            Paris, France
54            Paris, France
55            Paris, France
...                     ...
146907           Tinian, TT
146908         Honolulu, HI
146909         San Juan, PR
146910         Honolulu, HI
146911            Lihue, HI
146912           Tinian, TT
146913             Kona, HI
146914         Honolulu, HI
146915             Kona, HI
146916         Honolulu, HI
146917         Honolulu, HI
146918             Kona, HI
146919         Honolulu, HI
146920             Kona, HI
146921         Portland, OR
146922          Seattle, WA
146924         Portland, OR
146925          Seattle, WA
146926         Honolulu, HI
146927          Kahului, HI
146928          Kahului, HI
146929         Honolulu, HI
146930         Portland, OR
146931          Seattle, WA
146932          Seattle, WA
146933         Portland, OR
146934          Kahului, HI
146935         Honolulu, HI
146936         Honolulu, HI
146937          Kahului, HI

[56078 rows x 1 columns]

In [22]:
df.columns

Index(['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'PAYLOAD', 'SEATS',
       'PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'RAMP_TO_RAMP', 'AIR_TIME',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'UNIQUE_CARRIER_ENTITY', 'REGION', 'CARRIER', 'CARRIER_NAME',
       'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_COUNTRY', 'DEST_COUNTRY_NAME',
       'DEST_WAC', 'AIRCRAFT_GROUP', 'AIRCRAFT_TYPE', 'AIRCRAFT_CONFIG',
       'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS', 'DATA_SOURCE',
       'Unnamed: 50'],
      dtype='object')

In [24]:
df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][['PASSENGERS']].sum()

PASSENGERS    66054.0
dtype: float64

# Saving to Excel

In [29]:
result = df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][['PASSENGERS']].sum()
result.to_excel('result.xls')

# Saving to CSV

In [30]:
result = df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][['PASSENGERS']].sum()
result.to_csv('result.csv')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

# To Sql Database

In [51]:
import sqlite3
con = sqlite3.connect('newdb.db')

result = df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][['PASSENGERS']]

result.to_sql('my_new_table', con=con, if_exists="replace")

# To dictionary and to json

In [43]:
result = df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][:6]
result.head().to_dict()

{'DEPARTURES_SCHEDULED': {26: 0.0, 28: 0.0, 29: 0.0, 8373: 0.0, 8375: 0.0},
 'DEPARTURES_PERFORMED': {26: 21.0,
  28: 22.0,
  29: 14.0,
  8373: 20.0,
  8375: 20.0},
 'PAYLOAD': {26: 2199395.0,
  28: 2294431.0,
  29: 1466137.0,
  8373: 2090143.0,
  8375: 2079559.0},
 'SEATS': {26: 6180.0, 28: 6480.0, 29: 4130.0, 8373: 5890.0, 8375: 5895.0},
 'PASSENGERS': {26: 4683.0,
  28: 5596.0,
  29: 2468.0,
  8373: 4613.0,
  8375: 4947.0},
 'FREIGHT': {26: 573408.0,
  28: 507333.0,
  29: 249731.0,
  8373: 394123.0,
  8375: 490948.0},
 'MAIL': {26: 0.0, 28: 0.0, 29: 0.0, 8373: 0.0, 8375: 0.0},
 'DISTANCE': {26: 3968.0, 28: 4974.0, 29: 4413.0, 8373: 3968.0, 8375: 4974.0},
 'RAMP_TO_RAMP': {26: 0.0, 28: 0.0, 29: 0.0, 8373: 0.0, 8375: 0.0},
 'AIR_TIME': {26: 0.0, 28: 0.0, 29: 0.0, 8373: 0.0, 8375: 0.0},
 'UNIQUE_CARRIER': {26: 'AB', 28: 'AB', 29: 'AB', 8373: 'AB', 8375: 'AB'},
 'AIRLINE_ID': {26: 21361.0,
  28: 21361.0,
  29: 21361.0,
  8373: 21361.0,
  8375: 21361.0},
 'UNIQUE_CARRIER_NAME': {26: 'Air Berlin PLC and CO',
  28: 'Air Berlin PLC and CO',
  29: 'Air Berlin PLC and CO',
  8373: 'Air Berlin PLC and CO',
  8375: 'Air Berlin PLC and CO'},
 'UNIQUE_CARRIER_ENTITY': {26: '71074',
  28: '71074',
  29: '71074',
  8373: '71074',
  8375: '71074'},
 'REGION': {26: 'I', 28: 'I', 29: 'I', 8373: 'I', 8375: 'I'},
 'CARRIER': {26: 'AB', 28: 'AB', 29: 'AB', 8373: 'AB', 8375: 'AB'},
 'CARRIER_NAME': {26: 'Air Berlin PLC and CO',
  28: 'Air Berlin PLC and CO',
  29: 'Air Berlin PLC and CO',
  8373: 'Air Berlin PLC and CO',
  8375: 'Air Berlin PLC and CO'},
 'CARRIER_GROUP': {26: 0, 28: 0, 29: 0, 8373: 0, 8375: 0},
 'CARRIER_GROUP_NEW': {26: 0.0, 28: 0.0, 29: 0.0, 8373: 0.0, 8375: 0.0},
 'ORIGIN_AIRPORT_ID': {26: 12478,
  28: 13303,
  29: 13930,
  8373: 12478,
  8375: 13303},
 'ORIGIN_AIRPORT_SEQ_ID': {26: 1247802,
  28: 1330303,
  29: 1393003,
  8373: 1247802,
  8375: 1330303},
 'ORIGIN_CITY_MARKET_ID': {26: 31703,
  28: 32467,
  29: 30977,
  8373: 31703,
  8375: 32467},
 'ORIGIN': {26: 'JFK', 28: 'MIA', 29: 'ORD', 8373: 'JFK', 8375: 'MIA'},
 'ORIGIN_CITY_NAME': {26: 'New York, NY',
  28: 'Miami, FL',
  29: 'Chicago, IL',
  8373: 'New York, NY',
  8375: 'Miami, FL'},
 'ORIGIN_STATE_ABR': {26: 'NY', 28: 'FL', 29: 'IL', 8373: 'NY', 8375: 'FL'},
 'ORIGIN_STATE_FIPS': {26: 36.0, 28: 12.0, 29: 17.0, 8373: 36.0, 8375: 12.0},
 'ORIGIN_STATE_NM': {26: 'New York',
  28: 'Florida',
  29: 'Illinois',
  8373: 'New York',
  8375: 'Florida'},
 'ORIGIN_COUNTRY': {26: 'US', 28: 'US', 29: 'US', 8373: 'US', 8375: 'US'},
 'ORIGIN_COUNTRY_NAME': {26: 'United States',
  28: 'United States',
  29: 'United States',
  8373: 'United States',
  8375: 'United States'},
 'ORIGIN_WAC': {26: 22, 28: 33, 29: 41, 8373: 22, 8375: 33},
 'DEST_AIRPORT_ID': {26: 15402,
  28: 15402,
  29: 15402,
  8373: 15402,
  8375: 15402},
 'DEST_AIRPORT_SEQ_ID': {26: 1540203,
  28: 1540203,
  29: 1540203,
  8373: 1540203,
  8375: 1540203},
 'DEST_CITY_MARKET_ID': {26: 30549,
  28: 30549,
  29: 30549,
  8373: 30549,
  8375: 30549},
 'DEST': {26: 'TXL', 28: 'TXL', 29: 'TXL', 8373: 'TXL', 8375: 'TXL'},
 'DEST_CITY_NAME': {26: 'Berlin, Germany',
  28: 'Berlin, Germany',
  29: 'Berlin, Germany',
  8373: 'Berlin, Germany',
  8375: 'Berlin, Germany'},
 'DEST_STATE_ABR': {26: nan, 28: nan, 29: nan, 8373: nan, 8375: nan},
 'DEST_STATE_FIPS': {26: nan, 28: nan, 29: nan, 8373: nan, 8375: nan},
 'DEST_STATE_NM': {26: nan, 28: nan, 29: nan, 8373: nan, 8375: nan},
 'DEST_COUNTRY': {26: 'DE', 28: 'DE', 29: 'DE', 8373: 'DE', 8375: 'DE'},
 'DEST_COUNTRY_NAME': {26: 'Germany',
  28: 'Germany',
  29: 'Germany',
  8373: 'Germany',
  8375: 'Germany'},
 'DEST_WAC': {26: 429, 28: 429, 29: 429, 8373: 429, 8375: 429},
 'AIRCRAFT_GROUP': {26: 6, 28: 6, 29: 6, 8373: 6, 8375: 6},
 'AIRCRAFT_TYPE': {26: 696, 28: 696, 29: 696, 8373: 696, 8375: 696},
 'AIRCRAFT_CONFIG': {26: 1, 28: 1, 29: 1, 8373: 1, 8375: 1},
 'YEAR': {26: 2015, 28: 2015, 29: 2015, 8373: 2015, 8375: 2015},
 'QUARTER': {26: 1, 28: 1, 29: 1, 8373: 1, 8375: 1},
 'MONTH': {26: 1, 28: 1, 29: 1, 8373: 2, 8375: 2},
 'DISTANCE_GROUP': {26: 8, 28: 10, 29: 9, 8373: 8, 8375: 10},
 'CLASS': {26: 'F', 28: 'F', 29: 'F', 8373: 'F', 8375: 'F'},
 'DATA_SOURCE': {26: 'IF', 28: 'IF', 29: 'IF', 8373: 'IF', 8375: 'IF'},
 'Unnamed: 50': {26: nan, 28: nan, 29: nan, 8373: nan, 8375: nan}}

In [44]:
result = df[df['DEST_CITY_NAME'] == 'Berlin, Germany'][:6]
result.head().to_json()

'{"DEPARTURES_SCHEDULED":{"26":0.0,"28":0.0,"29":0.0,"8373":0.0,"8375":0.0},"DEPARTURES_PERFORMED":{"26":21.0,"28":22.0,"29":14.0,"8373":20.0,"8375":20.0},"PAYLOAD":{"26":2199395.0,"28":2294431.0,"29":1466137.0,"8373":2090143.0,"8375":2079559.0},"SEATS":{"26":6180.0,"28":6480.0,"29":4130.0,"8373":5890.0,"8375":5895.0},"PASSENGERS":{"26":4683.0,"28":5596.0,"29":2468.0,"8373":4613.0,"8375":4947.0},"FREIGHT":{"26":573408.0,"28":507333.0,"29":249731.0,"8373":394123.0,"8375":490948.0},"MAIL":{"26":0.0,"28":0.0,"29":0.0,"8373":0.0,"8375":0.0},"DISTANCE":{"26":3968.0,"28":4974.0,"29":4413.0,"8373":3968.0,"8375":4974.0},"RAMP_TO_RAMP":{"26":0.0,"28":0.0,"29":0.0,"8373":0.0,"8375":0.0},"AIR_TIME":{"26":0.0,"28":0.0,"29":0.0,"8373":0.0,"8375":0.0},"UNIQUE_CARRIER":{"26":"AB","28":"AB","29":"AB","8373":"AB","8375":"AB"},"AIRLINE_ID":{"26":21361.0,"28":21361.0,"29":21361.0,"8373":21361.0,"8375":21361.0},"UNIQUE_CARRIER_NAME":{"26":"Air Berlin PLC and CO","28":"Air Berlin PLC and CO","29":"Air Berlin PLC and CO","8373":"Air Berlin PLC and CO","8375":"Air Berlin PLC and CO"},"UNIQUE_CARRIER_ENTITY":{"26":"71074","28":"71074","29":"71074","8373":"71074","8375":"71074"},"REGION":{"26":"I","28":"I","29":"I","8373":"I","8375":"I"},"CARRIER":{"26":"AB","28":"AB","29":"AB","8373":"AB","8375":"AB"},"CARRIER_NAME":{"26":"Air Berlin PLC and CO","28":"Air Berlin PLC and CO","29":"Air Berlin PLC and CO","8373":"Air Berlin PLC and CO","8375":"Air Berlin PLC and CO"},"CARRIER_GROUP":{"26":0,"28":0,"29":0,"8373":0,"8375":0},"CARRIER_GROUP_NEW":{"26":0.0,"28":0.0,"29":0.0,"8373":0.0,"8375":0.0},"ORIGIN_AIRPORT_ID":{"26":12478,"28":13303,"29":13930,"8373":12478,"8375":13303},"ORIGIN_AIRPORT_SEQ_ID":{"26":1247802,"28":1330303,"29":1393003,"8373":1247802,"8375":1330303},"ORIGIN_CITY_MARKET_ID":{"26":31703,"28":32467,"29":30977,"8373":31703,"8375":32467},"ORIGIN":{"26":"JFK","28":"MIA","29":"ORD","8373":"JFK","8375":"MIA"},"ORIGIN_CITY_NAME":{"26":"New York, NY","28":"Miami, FL","29":"Chicago, IL","8373":"New York, NY","8375":"Miami, FL"},"ORIGIN_STATE_ABR":{"26":"NY","28":"FL","29":"IL","8373":"NY","8375":"FL"},"ORIGIN_STATE_FIPS":{"26":36.0,"28":12.0,"29":17.0,"8373":36.0,"8375":12.0},"ORIGIN_STATE_NM":{"26":"New York","28":"Florida","29":"Illinois","8373":"New York","8375":"Florida"},"ORIGIN_COUNTRY":{"26":"US","28":"US","29":"US","8373":"US","8375":"US"},"ORIGIN_COUNTRY_NAME":{"26":"United States","28":"United States","29":"United States","8373":"United States","8375":"United States"},"ORIGIN_WAC":{"26":22,"28":33,"29":41,"8373":22,"8375":33},"DEST_AIRPORT_ID":{"26":15402,"28":15402,"29":15402,"8373":15402,"8375":15402},"DEST_AIRPORT_SEQ_ID":{"26":1540203,"28":1540203,"29":1540203,"8373":1540203,"8375":1540203},"DEST_CITY_MARKET_ID":{"26":30549,"28":30549,"29":30549,"8373":30549,"8375":30549},"DEST":{"26":"TXL","28":"TXL","29":"TXL","8373":"TXL","8375":"TXL"},"DEST_CITY_NAME":{"26":"Berlin, Germany","28":"Berlin, Germany","29":"Berlin, Germany","8373":"Berlin, Germany","8375":"Berlin, Germany"},"DEST_STATE_ABR":{"26":null,"28":null,"29":null,"8373":null,"8375":null},"DEST_STATE_FIPS":{"26":null,"28":null,"29":null,"8373":null,"8375":null},"DEST_STATE_NM":{"26":null,"28":null,"29":null,"8373":null,"8375":null},"DEST_COUNTRY":{"26":"DE","28":"DE","29":"DE","8373":"DE","8375":"DE"},"DEST_COUNTRY_NAME":{"26":"Germany","28":"Germany","29":"Germany","8373":"Germany","8375":"Germany"},"DEST_WAC":{"26":429,"28":429,"29":429,"8373":429,"8375":429},"AIRCRAFT_GROUP":{"26":6,"28":6,"29":6,"8373":6,"8375":6},"AIRCRAFT_TYPE":{"26":696,"28":696,"29":696,"8373":696,"8375":696},"AIRCRAFT_CONFIG":{"26":1,"28":1,"29":1,"8373":1,"8375":1},"YEAR":{"26":2015,"28":2015,"29":2015,"8373":2015,"8375":2015},"QUARTER":{"26":1,"28":1,"29":1,"8373":1,"8375":1},"MONTH":{"26":1,"28":1,"29":1,"8373":2,"8375":2},"DISTANCE_GROUP":{"26":8,"28":10,"29":9,"8373":8,"8375":10},"CLASS":{"26":"F","28":"F","29":"F","8373":"F","8375":"F"},"DATA_SOURCE":{"26":"IF","28":"IF","29":"IF","8373":"IF","8375":"IF"},"Unnamed: 50":{"26":null,"28":null,"29":null,"8373":null,"8375":null}}'

# Reading Excel

In [45]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html
pd.read_excel('result.xls')

   Unnamed: 0      0
0  PASSENGERS  66054

#### Exercise

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [46]:
#https://datos.madrid.es/portal/site/egob/

# Reading mysql database

In [54]:
pd.read_sql_query('select SUM(PASSENGERS) from my_new_table',con)

   SUM(PASSENGERS)
0          66054.0